body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    cursor: pointer;
}
button:hover,
button:focus {
    background-color: #404BBF;
}
.accent-text {
    color: #4D5AE5;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    
    
}
h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
}
h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2E2F42;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
}