.header>.container {
    display: flex;
    align-items: center;
}
.header-nav {
    font-weight: 500;
    color: #2E2F42;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.nav-link.feauteres:active {
    text-decoration: underline;
}
.header-nav {
    margin-left: auto;
    margin-right: 340px;
}
.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0px;
}
.header-addres-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0px;
}
