.team-person-name ,.team-person-position {
    text-align: center;
}
.team {
    background-color: #F4F4FD;
}
.team-cart {
    background-color: #FFFFFF;
}
.team-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.team-title{
    padding-bottom: 72px;
}
.team-person-name{
    padding-top: 32px;
    padding-bottom: 8px;
}
.team-person-position{
    padding-bottom: 32px;
}